@model Model.ConexaointernetModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ConexaointernetModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Senha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Senha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfirmarSenha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfirmarSenha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBloco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBloco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeBloco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeBloco)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
