@model Model.ConexaointernetModel

@{
    ViewData["Title"] = "Details";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h2 class="card-title">Detalhes do Ponto de Acesso Wi-fi</h2>
                    </div>

                    <div class="card-body">
                        <div class="col-md-10">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </dt>
                                <dd>
                                    <p class="form-control">@Html.DisplayFor(model => model.Nome)</p>
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Senha)
                                </dt>
                                <dd>
                                    <p class="form-control">@Html.DisplayFor(model => model.Senha)</p>
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.NomeBloco)
                                </dt>
                                <dd>
                                    <p class="form-control">@Html.DisplayFor(model => model.NomeBloco)</p>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("Edit", "ConexaoInternet", new { id = @Model.Id })" class="btn btn-info"> Editar </a> |
                        <a class="btn btn-primary" asp-action="Index">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

