@model Model.HardwareDeSalaModel

@{
    ViewData["Title"] = "Create";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h2 class="card-title">Cadastrar Novo Hardware de Sala</h2>
                    </div>
                    <form asp-action="Create">
                        <div class="card-body">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group col-md-7">
                                <label class="control-label">Selecione a Organização</label>
                                <select class="form-control" asp-for="Organizacao" id="select-organizacao" onchange="loadBlocos()">
                                    @foreach (var item in ViewBag.Organizacoes)
                                    {
                                        <option value="@item.Id"> @item.RazaoSocial </option>
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="Organizacao"></span>
                            </div>
                            <div class="form-group col-md-4" id="ListElements">
                                <label asp-for="Bloco" class="control-label"></label>
                                <select class="form-control" asp-for="Bloco" id="select-bloco" onchange="loadSalas()">
                                    @foreach (var item in ViewBag.Blocos)
                                    {
                                        <option value="@item.Id"> @item.Titulo </option>
                                    }
                                </select>
                                <span asp-validation-for="Bloco" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="SalaId" class="control-label"></label>
                                <select class="form-control" asp-for="SalaId" id="select-sala">
                                    @foreach (var item in ViewBag.Salas)
                                    {
                                        <option value="@item.Id"> @item.Titulo </option>
                                    }
                                </select>
                                <span asp-validation-for="SalaId" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-2">
                                <label asp-for="MAC" class="control-label"></label>
                                <input asp-for="MAC" id="input-mac" class="form-control" />
                                <span asp-validation-for="MAC" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-2" id="div-input-ip" hidden>
                                <label asp-for="Ip" class="control-label">IP</label>
                                <input asp-for="Ip" id="input-ip" ip-mask class="form-control" placeholder="000.000.000.000" />
                                <span asp-validation-for="Ip" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="TipoHardwareId" class="control-label"></label>
                                @Html.DropDownListFor(model => model.TipoHardwareId, ViewBag.tipoHardware as SelectList, new
                                    { @class = "form-control", @onchange = "mostraInputIP()", @id = "select-tipo-hardware" })
                                <span asp-validation-for="TipoHardwareId" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="card-footer">
                            <div class="col-md-4">
                                <input type="submit" id="btn-create-hardware" value="Salvar" class="btn btn-success" /> |
                                <a class="btn btn-primary" asp-action="Index">Voltar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@if (TempData["mensagemSucesso"] != null)
{
    <div id="mensagem-retorno" onclick="swtAlert('success','Parabéns!', '@TempData["mensagemSucesso"]')"></div>
}
else if (TempData["mensagemErro"] != null)
{
    <div id="mensagem-retorno" onclick="swtAlert('warning','Falha!', '@TempData["mensagemErro"]')"></div>
}

@section Scripts {

    <script>
        $(document).ready(function () {
            if (document.querySelector('#mensagem-retorno'))
                document.getElementById("mensagem-retorno").click();

            mostraInputIP();

            $('[ip-mask]').ipAddress();
        });

        function mostraInputIP() {

            let texto = $("#select-tipo-hardware option:selected").text();

            if (texto == "CONTROLADOR DE SALA") {
                document.getElementById('div-input-ip').hidden = false;
            } else {
                $('#input-ip').val = '';
                document.getElementById('div-input-ip').hidden = true;
            }
        }


    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/js/sweet-alert.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/load-itens-script.js"></script>
    <script src="~/plugins/inputmask/inputmask/jquery.mask.js"></script>
    <script src="~/js/mask.ip-input.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

