@model Model.HardwareDeSalaViewModel

@using Model

@{
    ViewData["Title"] = "Details";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h2 class="card-title">Detalhes do Hardware</h2>
                    </div>

                    <div class="card-body">
                        <div class="col-md-10">
                            <dl class="dl-horizontal">
                                <dt>
                                    Sala
                                </dt>
                                <dd>
                                    <p class="form-control">@Html.DisplayFor(model => model.SalaId.Titulo)</p>
                                </dd>
                                <dt>
                                    Bloco
                                </dt>
                                <dd>
                                    <p class="form-control">@Html.DisplayFor(model => model.SalaId.BlocoTitulo)</p>
                                </dd>                                
                                <dt>
                                    @Html.DisplayNameFor(model => model.MAC)
                                </dt>
                                <dd>
                                    <p class="form-control">@Html.DisplayFor(model => model.MAC)</p>
                                </dd>
                                @if (!string.IsNullOrEmpty(Model.Ip))
                                {
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Ip)
                                    </dt>
                                    <dd>
                                        <p class="form-control">@Html.DisplayFor(model => model.Ip)</p>
                                    </dd>
                                }
                                <dt>
                                    @Html.DisplayNameFor(model => model.TipoHardwareId.Descricao)
                                </dt>
                                <dd>
                                    <p class="form-control">@Html.DisplayFor(model => model.TipoHardwareId.Descricao)</p>
                                </dd>
                                <dt>

                                </dt>

                                @if (Model.TipoHardwareId.Id == TipoHardwareModel.CONTROLADOR_DE_SALA)
                                {
                                    <dt>
                                        Situação
                                    </dt>
                                    @if (string.IsNullOrEmpty(Model.Uuid))
                                    {
                                        <dd>
                                            <p class="form-control">Não Autenticado</p>
                                        </dd>
                                    }
                                    else
                                    {
                                        <dd>
                                            <p class="form-control">Autenticado</p>
                                        </dd>
                                    }
                                }
                            </dl>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("Edit", "HardwareDeSala", new { id = @Model.Id })" class="btn btn-info"> Editar </a> |
                        <a class="btn btn-primary" asp-action="Index">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>