@model IEnumerable<Model.SalaParticularViewModel>

@{
    ViewData["Title"] = "Index";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="card-title">
                                    Salas Exclusivas
                                </h2>
                                <a class="btn btn-primary" style="float:right" asp-controller="SalaParticular" asp-action="Create">Associar Nova Sala Exclusiva</a>

                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="table-search" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Responsavel)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SalaId)
                                    </th>
                                    <th>
                                        Bloco
                                    </th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Responsavel.Nome)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SalaId.Titulo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SalaId.BlocoTitulo)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Details", "SalaParticular", new { id = item.Id })" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Detalhes </a>
                                            <a href="@Url.Action("Edit", "SalaParticular", new { id = item.Id })" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> Editar </a>
                                            <a data-toggle="modal" data-target="#modal-remover-@item.Id" class="btn btn-danger btn-xs text-white"><i class="fa fa-trash"></i> Remover </a>


                                            <div class="modal fade" id="modal-remover-@item.Id">
                                                <div class="modal-dialog modal-sm">
                                                    <div class="modal-content card card-secondary">
                                                        <div class="modal-header card-header">
                                                            <h5 class="modal-title">Desassociar responsável da sala ?</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true" class="text-white">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body text-center">
                                                            <h5>Sala</h5> <p>@item.SalaId.Titulo </p>
                                                            <h5>Responsável</h5> <p>@item.Responsavel.Cpf | @item.Responsavel.Nome</p>
                                                        </div>

                                                        @using (Html.BeginForm("Delete", "SalaParticular", new { id = item.Id }, FormMethod.Post))
                                                        {
                                                            <div class="modal-footer justify-content-between">
                                                                <a class="btn btn-danger text-white" data-dismiss="modal">Cancelar</a>
                                                                <button type="submit" value="Remover" class="btn btn-success">Confimar</button>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@if (TempData["mensagemSucesso"] != null)
{
    <div id="mensagem-retorno" onclick="swtAlert('success','Parabéns!', '@TempData["mensagemSucesso"]')"></div>
}
else if (TempData["mensagemErro"] != null)
{
    <div id="mensagem-retorno" onclick="swtAlert('warning','Falha!', '@TempData["mensagemErro"]')"></div>
}

@section Scripts {

    <script>
        $(document).ready(function () {
            if (document.querySelector('#mensagem-retorno'))
                document.getElementById("mensagem-retorno").click();
        });
    </script>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/js/sweet-alert.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
