@model Model.ViewModel.UsuarioViewModel

@{
    ViewData["Title"] = "Details";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h2 class="card-title">Detalhes do Usuário</h2>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.UsuarioModel.Nome)</dt>
                            <dd class="col-sm-10">@Html.DisplayFor(model => model.UsuarioModel.Nome)</dd>

                            <dt class="col-sm-2">Email</dt>
                            <dd class="col-sm-10">@Model.Email</dd>

                            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.UsuarioModel.Cpf)</dt>
                            <dd class="col-sm-10">@Html.DisplayFor(model => model.UsuarioModel.Cpf, "Cpf")</dd>

                            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.UsuarioModel.DataNascimento)</dt>
                            <dd class="col-sm-10">@Html.DisplayFor(model => model.UsuarioModel.DataNascimento)</dd>

                            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.TipoUsuarioModel.Descricao)</dt>
                            <dd class="col-sm-10">@Html.DisplayFor(model => model.TipoUsuarioModel.Descricao)</dd>

                            <dt class="col-sm-2">Organização</dt>
                            <dd class="col-sm-10">@Html.DisplayFor(model => model.OrganizacaoModel.RazaoSocial)</dd>
                        </dl>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Edit" asp-route-id="@Model.UsuarioModel.Id" class="btn btn-primary">Editar</a> |
                        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>