@model Model.ViewModel.UsuarioViewModel

@{
    ViewData["Title"] = "Edit";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h2 class="card-title">Editar Usuário</h2>
                    </div>
                    <form asp-action="Edit" onsubmit="return validarDataNascimento()">
                        <div class="card-body">
                            <input type="hidden" asp-for="UsuarioModel.Id" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="row col-md-2">
                                <label asp-for="UsuarioModel.Nome" class="control-label select-label">Nome</label>
                            </div>
                            <div class="row">
                                <div class="input-group col-md-5">
                                    <input asp-for="UsuarioModel.Nome" class="form-control" placeholder="Nome" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span asp-validation-for="UsuarioModel.Nome" class="text-danger"></span>

                            <div class="row col-md-2 mt-3">
                                <label asp-for="UsuarioModel.Cpf" class="control-label select-label">CPF</label>
                            </div>
                            <div class="row">
                                <div class="input-group col-md-3">
                                    <span class="form-control" style="background-color:#e9ecef">
                                        @Html.DisplayFor(model => model.UsuarioModel.Cpf, "Cpf")
                                    </span>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-id-card"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span asp-validation-for="UsuarioModel.Cpf" class="text-danger"></span>

                            <div class="row col-md-2 mt-3">
                                <label asp-for="OrganizacaoModel.Id" class="control-label select-label">Organização</label>
                            </div>
                            <div class="row">
                                <div class="input-group col-md-6">
                                    @Html.DropDownListFor(model => model.OrganizacaoModel.Id, ViewBag.Organizacoes as SelectList, new { @class = "form-control", @id = "select-organizacao" })
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fa fa-university"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span asp-validation-for="OrganizacaoModel.Id" class="text-danger"></span>

                            <div class="row col-md-2 mt-3">
                                <label asp-for="UsuarioModel.DataNascimento" class="control-label select-label">Data de Nascimento</label>
                            </div>
                            <div class="row">
                                <div class="input-group col-md-3">
                                    <input type="date" asp-for="UsuarioModel.DataNascimento" class="form-control" placeholder="Data de nascimento" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-birthday-cake"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span asp-validation-for="UsuarioModel.DataNascimento" class="text-danger"></span>

                            <div class="row col-md-2 mt-3">
                                <label asp-for="TipoUsuarioModel.Id" class="control-label select-label">Tipo de usuário</label>
                            </div>
                            <div class="row">
                                <div class="input-group col-md-4">
                                    @Html.DropDownListFor(model => model.TipoUsuarioModel.Id, ViewBag.TiposUsuario as SelectList, new { @class = "form-control", @id = "select-tipoUsuario" })
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span asp-validation-for="TipoUsuarioModel.Id" class="text-danger"></span>

                            <input hidden asp-for="OrganizacaoModel.Cnpj" class="form-control" />
                            <input hidden asp-for="OrganizacaoModel.RazaoSocial" class="form-control" />
                        </div>

                        <div class="card-footer">
                            <div class="col-md-4">
                                <input type="submit" value="Salvar" class="btn btn-success" /> |
                                <a class="btn btn-primary" asp-action="Index">Voltar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@if (TempData["mensagemSucesso"] != null)
{
    <div id="mensagem-retorno" onclick="swtAlertRedirectIndex('success','Parabéns!', '@TempData["mensagemSucesso"]','/Organizacao/Index')"></div>
}
else if (TempData["mensagemErro"] != null)
{
    <div id="mensagem-retorno" onclick="swtAlert('warning','Falha!', '@TempData["mensagemErro"]')"></div>
}


@section Scripts {
    <script type="text/javascript">
        function validarDataNascimento() {
            var dataNascimento = document.getElementById("UsuarioModel_DataNascimento").value;

            if (dataNascimento) {
                var data = new Date(dataNascimento);
                var hoje = new Date();
                var idade = hoje.getFullYear() - data.getFullYear();
                var mes = hoje.getMonth() - data.getMonth();

                if (mes < 0 || (mes === 0 && hoje.getDate() < data.getDate())) {
                    idade--;
                }

                if (idade < 5 || idade > 100) {
                    alert("A data de nascimento deve resultar em uma idade entre 5 e 100 anos.");
                    return false; // Impede o envio do formulário
                }
            }

            return true; // Permite o envio do formulário
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/js/sweet-alert.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
