@model Model.ViewModel.PlanejamentoViewModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Você tem certeza que deseja remover este Planejamento?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Código
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Horario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Horario)
        </dd>
        <dt>
            Dia da Semana
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaSemana)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Objetivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Objetivo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Voltar</a>
    </form>
</div>
