@model Model.AuxModel.SalaParticularAuxModel

@{
    ViewData["Title"] = "Create";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h2 class="card-title">Associar Nova Sala Exclusiva</h2>
                    </div>

                    <form asp-action="Create">
                        <div class="card-body">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group col-md-7">
                                <label class="control-label">Selecione a Organização</label>
                                <select class="form-control" asp-for="Organizacao" id="select-organizacao" onchange="loadBlocosAndUsuarios()">
                                    @foreach (var item in ViewBag.Organizacoes)
                                    {
                                        <option value="@item.Id"> @item.Cnpj | @item.RazaoSocial </option>
                                    }
                                </select>
                                <span class="text-danger"></span>
                            </div>
                            <div class="ocupation col-md-5">
                                <div class="form-group" id="ListElements">
                                    <label asp-for="BlocoSalas" class="control-label">Selecione o Bloco</label>
                                    <select class="form-control" asp-for="BlocoSalas" onchange="loadSalas()" id="select-bloco">
                                        @foreach (var item in ViewBag.Blocos)
                                        {
                                            <option value="@item.Id"> @item.Id | @item.Titulo </option>
                                        }
                                    </select>
                                    <span asp-validation-for="BlocoSalas" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SalaParticular.SalaId" class="form-control-label" for="select-sala">Selecione a Sala</label>
                                    <select class="form-control" asp-for="SalaParticular.SalaId" id="select-sala">
                                        @foreach (var item in ViewBag.Salas)
                                        {
                                            <option value="@item.Id"> @item.Id | @item.Titulo </option>
                                        }
                                    </select>
                                    <span asp-validation-for="SalaParticular.SalaId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group align-element">
                                    <label asp-for="SalaParticular.UsuarioId" class="control-label">Adicione os Responsáveis</label>

                                    <select class="form-control" asp-for="SalaParticular.UsuarioId" id="select-usuario">
                                        @foreach (var item in ViewBag.Usuarios)
                                        {
                                            <option value="@item.Id"> @item.Cpf | @item.Nome </option>
                                        }
                                    </select>
                                    <span asp-validation-for="SalaParticular.UsuarioId" class="text-danger"></span>
                                </div>

                                <div class="form-group align-element">
                                    <a id="add-novo-responsavel" onclick="adicionarNovoResponsavel()" class="btn btn-primary text-white"><i class="nav-icon fa fa-plus"></i> </a>
                                </div>
                            </div>

                            <section class="content">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="card-title">Responsáveis Adicionados</h3>
                                                </div>
                                                <div class="card-body">
                                                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="container-responsaveis">
                                                            @if (Model != null)
                                                            {
                                                                @for (var i = 0; i < Model.Responsaveis.Count; i++)
                                                                {
                                                                    <tr id="novo-responsavel-@i" class="responsavel-sala">
                                                                        <td>
                                                                            <input class="form-control" name="Responsaveis[@i].Id" hidden value="@Model.Responsaveis[i].Id" />
                                                                            <p class="form-control" type="time"> @Model.Responsaveis[i].Cpf | @Model.Responsaveis[i].Nome </p>
                                                                            <input class="form-control" name="Responsaveis[@i].Nome" hidden value="nulonulonulo" />
                                                                            <input class="form-control" name="Responsaveis[@i].Senha" hidden value="nulonulonulo" />
                                                                            <input class="form-control" name="Responsaveis[@i].Cpf" hidden value="nulonulonulo" />
                                                                        </td>
                                                                        <td>
                                                                            <a id="remove-novo-horario" onclick="removeNovoResponsavel('novo-responsavel-@i')" class="btn btn-danger"><i class="nav-icon fa fa-trash text-white"></i> </a>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="card-footer">
                            <div class="col-md-4">
                                <input type="submit" id="btn-create-sala-exclusiva" value="Salvar" class="btn btn-success" /> |
                                <a class="btn btn-primary" asp-action="Index">Voltar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@if (TempData["mensagemSucesso"] != null)
{
    <div id="mensagem-retorno" onclick="swtAlert('success','Parabéns!', '@TempData["mensagemSucesso"]')"></div>
}
else if (TempData["mensagemErro"] != null)
{
    <div id="mensagem-retorno" onclick="swtAlert('warning','Falha!', '@TempData["mensagemErro"]')"></div>
}

@section Scripts {

    <script src="~/js/sala-exclusiva-script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/js/sweet-alert.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
