@model Model.HardwareDeBlocoViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes do Hardware</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MAC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MAC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlocoId.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlocoId.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoHardwareId.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoHardwareId.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("Edit", "HardwareDeBloco", new { id = Model.Id })" class="btn btn-info"><i class="fa fa-pencil"></i> Editar </a>
    <a class="btn btn-primary" asp-action="Index">Voltar</a>
</div>
