@model Model.OrganizacaoModel

@{
    ViewData["Title"] = "Detalhes da Organização";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>OrganizacaoModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
