@model IEnumerable<Model.OrganizacaoModel>

@{
    ViewData["Title"] = "Index";
}

<div>
    <h2>
        Organizações Cadastradas

        <a class="btn btn-primary" style="float:right" asp-controller="Organizacao" asp-action="Create">Adicionar Organização</a>
    </h2>

</div>

<div align="right">
    <form asp-controller="Organizacao" asp-action="Index">
        <p>
            <input style="height: 28pt;width: 200pt;" type="text" placeholder="Pesquise por Razao Social" name="pesquisa">
            <button style="margin-bottom: 0.3%;" class="btn btn-primary text-right">Pesquisar</button>

        </p>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazaoSocial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RazaoSocial)
                </td>
                <td>
                    <a href="@Url.Action("Details", "Organizacao", new { id = item.Id })" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Detalhes </a>
                    <a href="@Url.Action("Edit", "Organizacao", new { id = item.Id })" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> Editar </a>
                    <a href="@Url.Action("Delete", "Organizacao", new { id = item.Id })" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Remover </a>
                </td>
            </tr>
        }
    </tbody>
</table>
