@model Model.ViewModel.ModeloEquipamentoViewModel

@{
    ViewData["Title"] = "Details";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h2 class="card-title">Detalhes da Marca do Equipamento</h2>
                    </div>

                    <div class="card-body">
                        <div class="col-md-10">
                            <dl class="dl-horizontal">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.ModeloEquipamento.Marca.Nome)
                                </dt>
                                <dd class="col-sm-10">
                                    <p class="form-control">@Html.DisplayFor(model => model.ModeloEquipamento.Marca.Nome)</p>
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.ModeloEquipamento.Nome)
                                </dt>
                                <dd class="col-sm-10">
                                    <p class="form-control">@Html.DisplayFor(model => model.ModeloEquipamento.Nome)</p>
                                </dd>
                                @if (Model.Codigos != null)
                                {
                                    <dt>
                                        Códigos Infravermelhos
                                    </dt>
                                    foreach (var item in Model.Codigos)
                                    {
                                        <dd>
                                            <p class="form-control no-height">Operação: @item.Operacao <br />Código: @item.Codigo</p>
                                        </dd>
                                    }
                                }
                            </dl>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("Edit", "ModeloEquipamento", new { id = @Model.ModeloEquipamento.Id })" class="btn btn-info"> Editar </a> |
                        <a class="btn btn-primary" asp-action="Index">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>