@model Model.AuxModel.PlanejamentoAuxModel

@{
    ViewData["Title"] = "Edit";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h2 class="card-title">Atualizar Planejamento</h2>
                    </div>
                    <form asp-action="Edit">
                        <div class="card-body">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group" hidden>
                                <input class="form-control" asp-for="Planejamento.Id" id="input-id" />
                            </div>
                            <div class="form-group col-md-7">
                                <label class="control-label">Selecione a Organização</label>
                                <select class="form-control" asp-for="Organizacao" id="select-organizacao" onchange="loadBlocosAndUsuarios()">
                                    @foreach (var item in ViewBag.Organizacoes)
                                    {
                                        <option value="@item.Id"> @item.Cnpj | @item.RazaoSocial </option>
                                    }
                                </select>
                                <span class="text-danger"></span>
                            </div>
                            <div class="ocupation col-md-5">
                                <div class="form-group" id="ListElements">
                                    <label asp-for="Bloco" class="control-label">Selecione o Bloco</label>
                                    <select class="form-control" asp-for="Bloco" onchange="loadSalas()" id="select-bloco">
                                        @foreach (var item in ViewBag.Blocos)
                                        {
                                            <option value="@item.Id"> @item.Id | @item.Titulo </option>
                                        }
                                    </select>
                                    <span asp-validation-for="Bloco" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Planejamento.SalaId" class="control-label"></label>
                                    <select class="form-control" asp-for="Planejamento.SalaId" id="select-sala">
                                        @foreach (var item in ViewBag.Salas)
                                        {
                                            <option value="@item.Id"> @item.Id | @item.Titulo </option>
                                        }
                                    </select>
                                    <span asp-validation-for="Planejamento.SalaId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Planejamento.UsuarioId" class="control-label"></label>
                                    <select class="form-control" asp-for="Planejamento.UsuarioId" id="select-usuario">
                                        @foreach (var item in ViewBag.Usuarios)
                                        {
                                            <option value="@item.Id"> @item.Cpf | @item.Nome </option>
                                        }
                                    </select>
                                    <span asp-validation-for="Planejamento.UsuarioId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Planejamento.Objetivo" class="control-label"></label>
                                    <textarea asp-for="Planejamento.Objetivo" id="objetivo" class="form-control" maxlength="500" rows="4"></textarea>
                                    <span asp-validation-for="Planejamento.Objetivo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="ocupation col-md-10">
                                <div class="form-group align-element ">
                                    <label asp-for="Planejamento.DataInicio" class="control-label"></label>
                                    <input asp-for="Planejamento.DataInicio" id="dataInicio" class="form-control" />
                                    <span asp-validation-for="Planejamento.DataInicio" class="text-danger"></span>
                                </div>
                                <div class="form-group align-element ">
                                    <label asp-for="Planejamento.DataFim" class="control-label"></label>
                                    <input asp-for="Planejamento.DataFim" id="dataFim" class="form-control" />
                                    <span asp-validation-for="Planejamento.DataFim" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="ocupation col-md-10">
                                <div class="form-group align-element">
                                    <label asp-for="Planejamento.HorarioInicio" class="control-label"></label>
                                    <input asp-for="Planejamento.HorarioInicio" id="horarioInicio" class="form-control" />
                                    <span asp-validation-for="Planejamento.HorarioInicio" class="text-danger"></span>
                                </div>

                                <div class="form-group align-element">
                                    <label asp-for="Planejamento.HorarioFim" class="control-label"></label>
                                    <input asp-for="Planejamento.HorarioFim" id="horarioFim" class="form-control" />
                                    <span asp-validation-for="Planejamento.HorarioFim" class="text-danger"></span>
                                </div>

                                <div class="form-group align-element">
                                    <label asp-for="Planejamento.DiaSemana" class="control-label"></label>
                                    <select asp-for="Planejamento.DiaSemana" id="input-dia-semana" class="select2_single form-control" tabindex="-1">
                                        <option value="SEG" selected> Segunda </option>
                                        <option value="TER"> Terça   </option>
                                        <option value="QUA"> Quarta  </option>
                                        <option value="QUI"> Quinta  </option>
                                        <option value="SEX"> Sexta   </option>
                                        <option value="SAB"> Sábado  </option>
                                        <option value="DOM"> Domingo </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class=" col-md-4">
                                <input type="submit" value="Salvar" class="btn btn-success" /> |
                                <a class="btn btn-primary" asp-action="Index">Voltar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@if (TempData["mensagemSucesso"] != null)
{
    <div id="mensagem-retorno" onclick="swtAlertRedirectIndex('success','Parabéns!', '@TempData["mensagemSucesso"]','/Planejamento/Index')"></div>
}
else if (TempData["mensagemErro"] != null)
{
    <div id="mensagem-retorno" onclick="swtAlert('warning','Falha!', '@TempData["mensagemErro"]')"></div>
}

@section Scripts {

    <script>
        $(document).ready(function () {
            if (document.querySelector('#mensagem-retorno'))
                document.getElementById("mensagem-retorno").click();
        });
    </script>
    <script src="~/js/load-itens-script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/js/sweet-alert.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
