@model Model.AuxModel.SalaAuxModel

@{
    ViewData["Title"] = "Edit";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h2 class="card-title">Atualizar Sala</h2>
                    </div>
                    <form asp-action="Edit">
                        <div class="card-body">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-8">

                                <div class="form-group col-md-7">
                                    <label class="control-label">Selecione a Organização</label>
                                    <select class="form-control" asp-for="OrganizacaoId" id="select-organizacao" onchange="loadBlocos()">
                                        @foreach (var item in ViewBag.Organizacoes)
                                        {
                                            <option value="@item.Id"> @item.Cnpj | @item.RazaoSocial </option>
                                        }
                                    </select>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4" id="ListElements">
                                    <label asp-for="Sala.BlocoId" class="control-label"></label>
                                    <select class="form-control" asp-for="Sala.BlocoId" id="select-bloco">
                                        @foreach (var item in ViewBag.BlocoList)
                                        {
                                            <option value="@item.Id"> @item.Id | @item.Titulo </option>
                                        }
                                    </select>
                                    <span asp-validation-for="Sala.BlocoId" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="Sala.Titulo" class="control-label"></label>
                                    <input asp-for="Sala.Titulo" class="form-control" />
                                    <span asp-validation-for="Sala.Titulo" class="text-danger"></span>
                                </div>
                                <div class="form-group" hidden>
                                    <input asp-for="Sala.Id" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class=" col-md-4">
                                <input type="submit" value="Salvar" class="btn btn-success" /> |
                                <a class="btn btn-primary" asp-action="Index">Voltar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@if (TempData["mensagemSucesso"] != null)
{
    <div id="mensagem-retorno" onclick="swtAlertRedirectIndex('success','Parabéns!', '@TempData["mensagemSucesso"]','/Sala/Index')"></div>
}
else if (TempData["mensagemErro"] != null)
{
    <div id="mensagem-retorno" onclick="swtAlert('warning','Falha!', '@TempData["mensagemErro"]')"></div>
}

@section Scripts {

    <script>
        $(document).ready(function () {
            if (document.querySelector('#mensagem-retorno'))
                document.getElementById("mensagem-retorno").click();
        });
    </script>
    <script src="~/js/load-itens-script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/js/sweet-alert.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}